[submodule ".registry"]
	path = .registry
	url = https://github.com/environmentalscienceassociates/environmentalscienceassociates.r-universe.dev
	branch = HEAD
[submodule "ColumbusGPS"]
	path = ColumbusGPS
	url = https://github.com/EnvironmentalScienceAssociates/ColumbusGPS
[submodule "delver"]
	path = delver
	url = https://github.com/EnvironmentalScienceAssociates/delver
[submodule "esaRmisc"]
	path = esaRmisc
	url = https://github.com/EnvironmentalScienceAssociates/esaRmisc
[submodule "fulcrumr"]
	path = fulcrumr
	url = https://github.com/EnvironmentalScienceAssociates/fulcrumr
[submodule "tbsa"]
	path = tbsa
	url = https://github.com/EnvironmentalScienceAssociates/tbsa
